.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.gameBackground {
  background: #2f2f2f;
  width: 100%;
  height: 100%;
}

.gameLogController {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.gameSaveController {
  position: absolute;
  top: 0;
  left: 60px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
