.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
  border-radius: 40px;
  background-color: #2f2f2f;
  font-family: "Special Elite", serif;
  color: white;
  font-size: 26px;
  outline: 1px dashed white;
  outline-offset: -10px;
  padding: 25px;
}

.gameCard {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 2.15;
  width: 160px;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
}

.gameCard > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.gameCardSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 2.15;
  width: 160px;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid yellow;
  box-shadow: 0 0 8px 2px yellow;
  animation: glowPulse 1.5s infinite ease-in-out;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 6px 1px yellow;
  }
  50% {
    box-shadow: 0 0 12px 4px yellow;
  }
  100% {
    box-shadow: 0 0 6px 1px yellow;
  }
}

.gameCard.selected::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  background: linear-gradient(270deg, yellow, gold, yellow);
  z-index: 1;
  animation: borderMove 2s linear infinite;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gameCardTextContainer {
  border: solid 2px #0000001a;
  background-color: #fff;
  padding: 0 8px;
}

.gameCardTextContainer > span {
  font-family: "Gabarito";
  font-weight: 700;
  color: #000;
  font-size: 16px;
}

.scoreboardWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scoreboardContainer {
  flex: 1;
  flex-basis: 50%;
  max-width: 50%;
  padding: 8px 20px;
}

.scoreboardContent {
  display: flex;
  justify-content: space-between;
}

.scoreboardTeamContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.scoreboardTeamContainer,
.span {
  color: #fff;
  font-family: "Gabarito";
  font-size: 16px;
}

.scoreboardPlayersContainer {
  display: flex;
  gap: 7px;
}

.scoreboardPlayer {
  padding: 7px 10px;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}

.scoreboardScore {
  color: #fff;
  font-family: "Gabarito";
  font-weight: 400;
  font-size: 100px;
}

.joinTeamContainer {
  padding: 7px 10px;
  background-color: #ffe400;
  color: #000;
  border-radius: 20px;
  cursor: pointer;
}

.joinTeamContainer:hover {
  background-color: "#ffd300";
}
