.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.gameBackground {
  background: #a79c8b;
  width: 100%;
  height: 100%;
}
