@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --background: rgba(217, 217, 217, 0.5);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url('/assassin_background.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(217, 217, 217, 0.5);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(217, 217, 217, 0.5);
}
