@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

:root {
  --background: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url('/assassin_background.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


