.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.redBlueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(5, 130, 202, 0.2) 50%, rgba(219, 22, 47, 0.2) 50%);
  pointer-events: none;
  z-index: -1;
}

.redOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 22, 47, 0.2);
  pointer-events: none;
  z-index: -1;
}

.blueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 130, 202, 0.2);
  pointer-events: none;
  z-index: -1;
}

.landingButton {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
  height: 200px;
  background: rgba(217, 217, 217, 0.5);
  font-family: "Special Elite";
  color: white;
  font-size: 150px;
  border: none;
  padding: 10px;
  margin: 100px;
  cursor: pointer;
  border-radius: 50px;
  transition: background 0.3s;
}

.landingButton:hover {
  background: rgba(217, 217, 217, 0.8);
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messageBox {
  border-radius: 20px;
  max-width: 50%;
  background-color: #2F2F2F;
  outline: 1px dashed white;
  outline-offset: -10px;
  font-family: "Special Elite";
  color: white;
  font-size: 35px;
  padding: 50px;
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
  font-family: "Special Elite";
  color: white;
  font-size: 35px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}


