.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.redBlueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(219, 22, 47, 0.2) 50%,
    rgba(5, 130, 202, 0.2) 50%
  );
  pointer-events: none;
  z-index: -1;
}

.homeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.redOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 22, 47, 0.2);
  pointer-events: none;
  z-index: -2;
}

.blueOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 130, 202, 0.2);
  pointer-events: none;
  z-index: -2;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

.messageField {
  border-radius: 20px;
  background-color: #2f2f2f;
  outline: 1px dashed white;
  outline-offset: -10px;
  font-family: "Special Elite", serif;
  color: white;
  font-size: 35px;
  padding: 50px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.inputField {
  font-family: "Special Elite", serif;
  background-color: white;
  color: black;
  font-size: 24px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
}

.inputField::placeholder {
  font-family: "Special Elite", serif;
  color: black;
  font-size: 24px;
}

.regularButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.regularButton {
  font-family: "Gabarito", serif;
  background-color: white;
  color: black;
  font-size: 24px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  border: none;
  transition: background 0.3s;
}

.regularButton:hover {
  background: rgba(217, 217, 217, 0.8);
}

.lobbyTitle {
  font-family: "Special Elite", serif;
  color: white;
  font-size: 100px;
}

.lobbyConfig {
  border-radius: 20px;
  background-color: #2f2f2f;
  outline: 1px dashed white;
  outline-offset: -10px;
  font-family: "Special Elite", serif;
  color: white;
  font-size: 26px;
  padding: 25px 40px;
}

.lobbyDropdown {
  background-color: #2f2f2f;
  font-family: "Special Elite", serif;
  color: white;
  font-size: 26px;
  padding: 5px 10px;
  width: 100%;
}

.tableField {
  border-radius: 20px;
  background-color: #2f2f2f;
  font-family: "Special Elite", serif;
  color: white;
  font-size: 26px;
  outline: 1px dashed white;
  outline-offset: -10px;
  padding: 10px;
  width: 100%;
}

.tableField > tbody > tr > td {
  text-align: center;
}

.tableField > tbody > tr > td,
.tableField > thead > tr > th {
  padding: 10px 10px;
}

.formRow {
  max-width: 100%;
  margin: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.formRow > div {
  flex: 1;
  margin: 0 10px;
}

.resultsMessage {
  font-family: "Special Elite", serif;
  color: white;
  font-size: 60px;
  padding: 40px;
  margin: 40px 0;
  text-align: center;
  background-color: transparent;
  font-size: "100px";
  text-align: "center";
  min-width: "900px";
}

.disabledButton {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}
