.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.redBlueOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(219, 22, 47, 0.2) 50%, rgba(5, 130, 202, 0.2) 50%);
    pointer-events: none;
    z-index: -1;
}

.redOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(219, 22, 47, 0.2);
    pointer-events: none;
    z-index: -2;
}

.blueOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 130, 202, 0.2);
    pointer-events: none;
    z-index: -2;
}

.landingButton {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
    height: 200px;
    background: rgba(217, 217, 217, 0.5);
    font-family: "Special Elite";
    color: white;
    font-size: 150px;
    border: none;
    padding: 10px;
    margin: 100px;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s;
}

.landingButton:hover {
    background: rgba(217, 217, 217, 0.8);
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.messageBox {
    border-radius: 20px;
    background-color: #2F2F2F;
    outline: 1px dashed white;
    outline-offset: -10px;
    font-family: "Special Elite";
    color: white;
    font-size: 35px;
    padding: 50px;
}

.inputContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.inputForm {
    font-family: "Special Elite";
    background-color: white;
    color: black;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    width: 100%;
    margin-bottom: 10px;
}

.inputForm::placeholder {
    font-family: "Special Elite";
    color: black;
    font-size: 24px;
}

.nextButton {
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
    transition: background 0.3s;
}

.nextButton:hover {
    background: rgba(217, 217, 217, 0.8);
}



