.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  background-color: #848484;
  border-radius: 20px;
  font-family: "Special Elite", serif;
  color: white;
  font-size: 26px;
  outline-offset: -10px;
  padding: 25px;
}
