.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.inputField {
  font-family: "Special Elite", serif;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  border: 0.5px solid black;
  width: 300px;
  padding: 10px;
}

.inputField::placeholder {
  font-family: "Special Elite", serif;
  color: black;
  font-size: 16px;
}

.numberInputField {
  font-size: 14px;
  width: 100px;
  font-family: "Special Elite", serif;
}

.custom-placeholder input::placeholder {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: gray;
}


.regularButton {
  font-size: 30px;
  border-radius: 20px;
  padding: 5px;
    background-color: white;
  outline: white;
    border: 0.5px solid black;
}

.ant-input-number-handler {
  color: white;
}

.ant-input-number-handler-up-inner,
.ant-input-number-handler-down-inner {
  color: white;

}
