.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.inputField {
  font-family: "Special Elite", serif;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid white;
  width: 300px;
  padding: 10px;
}

.inputField::placeholder {
  font-family: "Special Elite", serif;
  color: black;
  font-size: 16px;
}

.selector {
  font-size: 16px;
  width: 100px;
}

.regularButton {
  font-size: 30px;
}
