.clueWrapper {
  position: absolute;
  bottom: 30px;
}

.clueContainer {
  background-color: #444;
  color: white;
  font-size: 24px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: Special Elite;
  text-align: center;
  width: fit-content;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
