.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.inputField {
  font-family: "Special Elite", serif;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
    align-items: center;
}

.inputField::placeholder {
    border-color: gray;
    background-color: white;
    color: black;
    font-family: Gabarito, serif;
}

.numberInputField {
    border-color: gray;
    background-color: white;
    color: black;
    font-family: Gabarito, serif;
}

.custom-placeholder input::placeholder {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: gray;
}


.regularButton {
    font-family: "Gabarito", serif;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    transition: background 0.3s;
  }

.ant-input-number-handler {
  color: white;
}

.ant-input-number-handler-up-inner,
.ant-input-number-handler-down-inner {
  color: white;

}
