.fullscreenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Opacity background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out forwards;
}

.popupText {
  font-family: "Special Elite", cursive;
  color: white;
  font-size: 200px;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
