.card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 2.15;
  width: 200px;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.card > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.cardSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 2.15;
  width: 200px;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid white;
  box-shadow: 0 0 8px 2px white;
  animation: glowPulse 1.5s infinite ease-in-out;
  border-radius: 15px;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 6px 1px white;
  }
  50% {
    box-shadow: 0 0 12px 4px white;
  }
  100% {
    box-shadow: 0 0 6px 1px white;
  }
}

.card.selected::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  background: linear-gradient(270deg, white, white, white);
  z-index: 1;
  animation: borderMove 2s linear infinite;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.cardTextContainer {
  border: solid 2px #0000001a;
  background-color: #fff;
  padding: 0 8px;
}

.cardTextContainer > span {
  font-family: "Gabarito", serif;
  font-weight: 700;
  color: #000;
  font-size: 16px;
}
