.scoreboardWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scoreboardContainer {
  flex: 1;
  flex-basis: 50%;
  max-width: 50%;
  padding: 8px 20px;
}

.scoreboardContent {
  display: flex;
  justify-content: space-between;
}

.scoreboardTeamContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.scoreboardTeamContainer,
.span {
  color: #fff;
  font-family: "Gabarito", serif;
  font-size: 16px;
}

.scoreboardPlayersContainer {
  display: flex;
  gap: 7px;
}

.scoreboardPlayer {
  padding: 7px 10px;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}

.scoreboardMyPlayer {
  padding: 7px 10px;
  background-color: #bd9f7f;
  border-radius: 20px;
  color: white;
}

.scoreboardScore {
  color: #fff;
  font-family: "Gabarito", serif;
  font-weight: 400;
  font-size: 100px;
}
