.skipGuessButton {
  font-family: "Gabarito", serif;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
  border: none;
  transition: background 0.3s;
}